<xua>
    <doc type="book">
        <settings>
            <formats>
                <latex book-template="book.latex" chapter-template="template.tex"  pdf="true"  destination="latex/XUA-Documentation.tex" />
                <html index-template="index.html" chapter-template="template.html" pdf="false" destination="html"                        />
            </formats>
            <toc name="TOC" html-template="toc-template.html" max-depth="4">
                <exclude-chapters>
                    <chapter name="Architecture" />
                </exclude-chapters>
            </toc>
        </settings>
        <chapters>
            <chapter src="Preface.xua"            />
            <chapter src="Supers.xua"             />
            <chapter src="PredefinedSupers.xua"   />
            <chapter src="Entities.xua"           />
            <chapter src="Methods.xua"            />
            <chapter src="Services.xua"           />
            <chapter src="PredefinedServices.xua" />
            <chapter src="Interfaces.xua"         />
            <chapter src="Documentations.xua"     />
            <chapter src="Architecture.xua"       html-template="architecture-template.html" />
        </chapters>
    </doc>
</xua>